
{% extends 'common_code/base.html' %}
{% load static %}

{% block title %} SMARTSHOP {% endblock title %}

{% block content %}
<h1>SMARTSHOP</h1>
<div class="row">
	<div class="col-md-4">
		<figure class="card card-product-grid">
			<div class="img-wrap"> 
				
				<img src="{% static 'images/items/1.jpg' %}">	
			</div>
        </figure>
    </div>
    <div class="col-md-4">
        <figure class="card card-product-grid">
            <div class="img-wrap"> 
                <img src="{% static 'images/items/2.jpg' %}">
            </div>
        </figure>
    </div>
    <div class="col-md-4">
        <figure class="card card-product-grid">
            <div class="img-wrap"> 
                <img src="{% static 'images/items/7.jpg' %}">
            </div>
        </figure>
    </div>
    <div class="col-md-4">
        <figure class="card card-product-grid">
            <div class="img-wrap"> 
                <img src="{% static 'images/items/9.jpg' %}">
            </div>
        </figure>
    </div>
    <div class="col-md-4">
        <figure class="card card-product-grid">
            <div class="img-wrap"> 
                <img src="{% static 'images/items/5.jpg' %}">
            </div>
        </figure>
    </div>
    <div class="col-md-4">
        <figure class="card card-product-grid">
            <div class="img-wrap"> 
                <img src="{% static 'images/items/8.jpg' %}">
            </div>
        </figure>
    </div>
</div>
{% endblock content %}

