<html lang="en">
    {% extends 'common_code/base.html' %}
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Mobile Site {% endblock title %}</title>
</head>
<body>
    {% block content %} 
    <h1>
        Welcome to Mobile Zone
    </h1>
    <h1>
      <p>Here you will get varities brand mobile</p> 
    </h1>
    {% endblock content %}
</body>
</html>